/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    width: 100%;
    max-width: 600px;  /* Increased width to accommodate two columns */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;  /* Added padding for overall spacing */
  }
  
  .inputs-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .material-input {
    width: 48%;  /* Allows two inputs side by side */
  }
  
  form {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 100%;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  label, input, select, button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  
  input, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #5c67f2;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4a50e0;
  }
  
  .results {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  #result1, #result2 {
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    width: 48%;
    text-align: center;
  }
  
  /* Media query for responsive design */
  @media (max-width: 600px) {
    .inputs-container {
      flex-direction: column;
    }
    .material-input, #result1, #result2 {
      width: 100%;  /* Full width for smaller devices */
      margin-top: 10px;  /* Add some top margin for spacing */
    }
    .results {
      flex-direction: column;
    }
  }
  